/* line 4, ../sass/app.scss */
section { display: none; }

/* line 8, ../sass/app.scss */
#carga { display: block; }

/* line 12, ../sass/app.scss */
#index { max-width: 600px; max-height: 600px; background: url("../assets/menu/Fondo_menu.gif"); }
