
@import "utils.scss";

section{
  display: none;
}

#carga{
  display: block;
}

#index{

}
.app-container{
  position: relative;
}

.img-backgound{
  position: relative;
  z-index: 50;
}

.btn-container{

  top: 50%;
  position: absolute;
  z-index: 100;
}

.button-play-div{

}

.ml-25{
  margin-left: 25%;
}
