
@import "utils.scss";
html
{
    overflow: hidden;
}

body
{
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

section{
  display: none;
}

#carga{
  display: block;
}

#index{

}
.app-container{
  position: relative;
}

.img-backgound{
  position: relative;
  z-index: 50;
}

.btn-container{

  top: 50%;
  position: absolute;
  z-index: 100;
}

.button-play-div{

}

.ml-25{
  margin-left: 25%;
}

#imagen_de_carga {
	width: 480px;
  height: 854px;
}
.img-backgound {
	width: 480px;
  height: 854px;
}
#instrucciones {
	width: 480px;
  height: 854px;
}
#creditos {
	width: 480px;
  height: 854px;
}
#boton_salir {
	position:absolute;
  z-index:0;
  height: 77px;
}
