/* line 3, ../sass/app.scss */
html { overflow: hidden; }

/* line 8, ../sass/app.scss */
body { overflow: hidden; position: relative; margin: 0; padding: 0; }

/* line 16, ../sass/app.scss */
section { display: none; }

/* line 20, ../sass/app.scss */
#carga { display: block; }

/* line 27, ../sass/app.scss */
.app-container { position: relative; }

/* line 31, ../sass/app.scss */
.img-backgound { position: relative; z-index: 50; }

/* line 36, ../sass/app.scss */
.btn-container { top: 50%; position: absolute; z-index: 100; }

/* line 47, ../sass/app.scss */
.ml-25 { margin-left: 25%; }

/* line 51, ../sass/app.scss */
#imagen_de_carga { width: 70vh; height: 100vh; }

/* line 55, ../sass/app.scss */
.img-backgound { width: 70vh; height: 100vh; }

/* line 59, ../sass/app.scss */
#instrucciones { width: 67vh; height: 100vh;}

/* line 63, ../sass/app.scss */
#creditos { width: 67vh; height: 100vh;}

/* line 67, ../sass/app.scss */
#boton_salir { position: absolute; z-index: 0; height: 77px; }
